/* ==|====================
   Module/Box
   ======================= */
   
.full-img {
  width: 100%; height: auto; margin: 0; padding: 0; position: relative;
  img {
    width: 100%; height: auto; padding: 0 0; margin: 0; display: block; object-fit: contain; font-family: "object-fit: contain";
  }
}


@media only screen and (min-width: 360px) {
  
}

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 576px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1024px) {

}

@media only screen and (min-width: 1200px) {
  
}