/* ==|====================
   Layout/Main
   ======================= */

main {
  width: 100%; height: auto; position: relative; padding: 0; margin: 0; z-index: 3;
}
article {
  width: 100%; height: auto; padding: 0; margin: 0; position: relative;
}
.descGen {
  width: 100%; height: auto; padding: 40px 25px 10px 0; margin: 0 0 20px 0;
  h1, h2, h3, h4, h5, h6 {
    margin: 0 0 15px 0; position: relative; font-size: rem(22px); display: inline-block; font-weight: 900; color: $col2;
    strong { font-weight: 900; display: block; }
    span {
      white-space: nowrap; @include position(absolute, 20px null null 40%); color: rgba($black, 0.25); z-index: -1; font-size: rem(40px);
    }
    &:before {
      content: ''; width: 180px; height: 180px; @include position(absolute, -80px null null -140px); background-color: $col1; border-radius: 50%; z-index: -1; 
    }
  }
  p { text-align: left; margin: 0 0 0 0; }
}

// Hero Principal
.hero-sec {
  width: 100%; height: 450px; @include position(relative, null null null null); padding: 0 0; margin: 0 0 0 0; z-index: 1;
  .contHero {
    width: 100%; height: auto; padding: 0; margin: 0; @include position(absolute, 50% null null 0); @include transform(translateY(-50%)); z-index: 4; display: block;
    h1, h2, h3, h4, h5, h6 {
      margin: 0 0 20px 0; padding: 0; text-align: left; color: $white; font-size: rem(25px); font-family: $light;
      strong, b { font-family: $medium; color: $col1; }
    }
    p {
      text-align: left; margin: 0; padding: 0; color: $c4; font-size: rem(13px);
    }
    .btnHero {
      width: 100%; height: auto; margin: 30px 0 0 0; padding: 0;
      .btnsGenericos {
        i {
          margin-left: 10px;
        }
        &:link, &:visited {
          padding: 0 20px 0 30px;
        }
      }
    }
  }
  .header-title {
    width: 100%; height: 100%; @include position(absolute, 0 0 null null); z-index: 2; background-color: $col1; @include transition(all 0.25s);
  }
  .img-hero {
    width: 100%; height: 100%; display: block; margin: 0 0; object-fit: cover; font-family: "object-fit: cover"; @include position(absolute, 0 null null 0); z-index: 1;
  }
  .scrollNext {
    width: 50px; height: 50px; display: block; margin: 0; padding: 0; @include position(absolute, null null 20px 50%); @include transform(translateX(-50%)); z-index: 6; line-height: 50px; text-align: center; color: $white; font-size: rem(40px);
    &:hover {
      color: $c11;
    }
  }
  .overlayHero {
    @extend .overlayClassAbs; @include background(linear-gradient(rgba($white, 0.0), rgba($white, 0.50)) top repeat); z-index: 1;
  }
  &:before {
    content: ''; width: 1px; height: 100%; @include position(absolute, 0 null null 70px); background-color: $white; z-index: 2;
  }
}

// Secciones Home
.modulo-one-home {
  width: 100%; height: auto; @include position(relative, null null null null); padding: 60px 0 60px 0; margin: 0 0 0 0; background-color: $c11; z-index: 2;
}
.modulo-two-home {
  width: 100%; height: auto; @include position(relative, null null null null); padding: 0 0; margin: 0; background-color: $white; z-index: 2; overflow: hidden;
}
.modulo-three-home {
  width: 100%; height: auto; @include position(relative, null null null null); padding: 0 0; margin: 0; background-color: $c8; z-index: 2;overflow: hidden;
}

// Secciones & Modulos
.descHome {
  width: 100%; height: auto; padding: 0 0 0 0; margin: 0 0 0 0; @include displayFlex(flex, column, center, flex-start, wrap); position: relative; @include box-sizing(border-box);
  .titleSite {
    width: 100%; height: auto; margin: 0 0 10px 0; padding: 0 10px; @include box-sizing(border-box);
    h5 {
      margin: 15px 0 0 0; padding: 0; color: $col1; text-align: left; text-transform: uppercase; font-size: rem(14px);
    }
  }
  .descBox {
    width: 100%; height: auto; margin: 0 0 0 0; padding: 0 10px; @include box-sizing(border-box); position: relative;
    h1, h2, h3, h4, h5, h6 {
      margin: 0 0 10px 0; font-size: rem(28px); display: block; color: $black; padding: 0; font-family: $light;
    }
    p { text-align: left; margin: 0 0 0 0;color: $c7; font-size: rem(13px); line-height: 1.4; }
    .btnModuloOne {
      width: 100%; height: auto; padding: 0; margin: 20px 0 0 0; @include position(relative, null null null null);
      .btnsGenericos {
        height: 40px; color: $c9; border: 1px solid $c9; line-height: 40px;
        i {
          margin-left: 10px;
        }
        &:hover {
          color: $white; background: $c9;
        }
        &:link, &:visited {
          padding: 0 20px 0 30px;
        }
        &.ani-btn {
          &:hover {
            &:after {
              background-color: $c9;
            }
          }
        }
      }
    }
  }
}
.contSlideRaquetas {
  width: 100%; height: auto; padding: 0 0; margin: 0 0 0 0; position: relative; @include displayFlex(flex, row, center, center, wrap);
}


@media only screen and (min-width: 360px) {
  .descHome {
    .titleSite {
      h5 {
        font-size: rem(15px);
      }
    }
    .descBox {
      h1, h2, h3, h4, h5, h6 {
        margin: 0 0 20px 0; font-size: rem(30px);
      }
      p { margin: 0 0 0 0; font-size: rem(15px); }
    }
  }

}

@media only screen and (min-width: 480px) {
  .hero-sec {
    height: 400px;
    .contHero {
      h1, h2, h3, h4, h5, h6 {
        font-size: rem(38px);
      }
    }
  }
  .descHome {
    .titleSite {
      h5 {
        font-size: rem(15px);
      }
    }
    .descBox {
      h1, h2, h3, h4, h5, h6 {
        margin: 0 0 20px 0; font-size: rem(42px);
      }
      p { margin: 0 0 0 0; font-size: rem(16px); }
    }
  }

}

@media only screen and (min-width: 576px) {
  .hero-sec {
    height: 500px;
    .contHero {
      h1, h2, h3, h4, h5, h6 {
        font-size: rem(40px);
      }
      p {
        font-size: rem(14px);
      }
      .btnHero {
        width: 100%; height: auto; margin: 30px 0 0 0; padding: 0;
        .btnsGenericos {
          i {
            margin-left: 10px;
          }
          &:link, &:visited {
            padding: 0 15px 0 20px;
          }
        }
      }
    }
  }
  .descHome {
    .titleSite {
      h5 {
        font-size: rem(15px);
      }
    }
    .descBox {
      h1, h2, h3, h4, h5, h6 {
        margin: 0 0 25px 0; font-size: rem(45px);
      }
      p { margin: 0 0 0 0; font-size: rem(16px); }
    }
  }

}

@media only screen and (min-width: 768px) {
  .hero-sec {
    height: 550px;
    .contHero {
      h1, h2, h3, h4, h5, h6 {
        font-size: rem(45px);
      }
      p {
        font-size: rem(15px);
      }
    }
  }
  .descHome {
    @include displayFlex(flex, row, center, flex-start, wrap);
    .titleSite {
      width: 20%; padding: 0 10px;
      h5 {
        margin: 15px 0 0 0; text-align: right; font-size: rem(15px);
      }
    }
    .descBox {
      width: 80%; margin: 0 0 0 0; padding: 0 10px;
      h1, h2, h3, h4, h5, h6 {
        margin: 0 0 30px 0; font-size: rem(48px);
      }
      p { margin: 0 0 0 0; font-size: rem(17px); }
    }
  }
  .contSlideRaquetas {
    width: 100%; height: auto; padding: 0 0; margin: 0 0 0 0; position: relative; @include displayFlex(flex, row, center, center, wrap);
  }

}

@media only screen and (min-width: 992px) {
  .hero-sec {
    height: 600px;
    .contHero {
      h1, h2, h3, h4, h5, h6 {
        font-size: rem(48px);
      }
      p {
        font-size: rem(16px);
      }
    }
  }
  .descHome {
    .titleSite {
      width: 30%; padding: 0 10px;
      h5 {
        margin: 15px 0 0 0; text-align: right; font-size: rem(15px);
      }
    }
    .descBox {
      width: 70%; margin: 0 0 0 0; padding: 0 10px;
      h1, h2, h3, h4, h5, h6 {
        margin: 0 0 30px 0; font-size: rem(50px);
      }
      p { margin: 0 0 0 0; font-size: rem(18px); }
      .btnModuloOne {
        width: auto; height: auto; padding: 0; margin: 0; @include position(absolute, null 0 0 null);
      }
    }
  }

}

@media only screen and (min-width: 1024px) {
  .hero-sec {
    height: 645px;
    .contHero {
      h1, h2, h3, h4, h5, h6 {
        font-size: rem(50px);
      }
    }
  }

}

@media only screen and (min-width: 1200px) {
  .hero-sec {
    height: 700px;
    .contHero {
      h1, h2, h3, h4, h5, h6 {
        font-size: rem(53px);
      }
    }
  }

}
@media only screen and (min-width: 1366px) {
  .hero-sec {
    height: 791px;
  }
}

@media only screen and (min-width: 1400px) {

}