/* ==|====================
   Layout/Main
   ======================= */

main {
  width: 100%; height: auto; position: relative; padding: 0; margin: 0; z-index: 3;
}
article {
  width: 100%; height: auto; padding: 0; margin: 0; position: relative;
}
.descGen {
  width: 100%; height: auto; padding: 40px 25px 10px 0; margin: 0 0 20px 0;
  h1, h2, h3, h4, h5, h6 {
    margin: 0 0 15px 0; position: relative; font-size: rem(22px); display: inline-block; font-weight: 900; color: $col2;
    strong { font-weight: 900; display: block; }
    span {
      white-space: nowrap; @include position(absolute, 20px null null 40%); color: rgba($black, 0.25); z-index: -1; font-size: rem(40px);
    }
    &:before {
      content: ''; width: 180px; height: 180px; @include position(absolute, -80px null null -140px); background-color: $col1; border-radius: 50%; z-index: -1; 
    }
  }
  p { text-align: left; margin: 0 0 0 0; }
}

// Hero Principal
.hero-sec {
  width: 100%; height: 450px; @include position(relative, null null null null); padding: 0 0; margin: 0 0 0 0; z-index: 1;
  .contHero {
    width: 100%; height: auto; padding: 0; margin: 0; @include position(absolute, 50% null null 0); @include transform(translateY(-50%)); z-index: 4; display: block;
    h1, h2, h3, h4, h5, h6 {
      margin: 0 0 20px 0; padding: 0; text-align: left; color: $white; font-size: rem(25px); font-family: $light;
      strong, b { font-family: $medium; color: $col1; }
    }
    p {
      text-align: left; margin: 0; padding: 0; color: $c4; font-size: rem(13px);
    }
    .btnHero {
      width: 100%; height: auto; margin: 30px 0 0 0; padding: 0;
      .btnsGenericos {
        i {
          margin-left: 10px;
        }
        &:link, &:visited {
          padding: 0 20px 0 30px;
        }
      }
    }
  }
  .header-title {
    width: 100%; height: 100%; @include position(absolute, 0 0 null null); z-index: 2; background-color: $col1; @include transition(all 0.25s);
  }
  .img-hero {
    width: 100%; height: 100%; display: block; margin: 0 0; object-fit: cover; font-family: "object-fit: cover"; @include position(absolute, 0 null null 0); z-index: 1;
  }
  .scrollNext {
    width: 50px; height: 50px; display: block; margin: 0; padding: 0; @include position(absolute, null null 20px 50%); @include transform(translateX(-50%)); z-index: 6; line-height: 50px; text-align: center; color: $white; font-size: rem(40px);
    &:hover {
      color: $c11;
    }
  }
  .overlayHero {
    @extend .overlayClassAbs; @include background(linear-gradient(rgba($white, 0.0), rgba($white, 0.50)) top repeat); z-index: 1;
  }
  &:before {
    content: ''; width: 1px; height: 100%; @include position(absolute, 0 null null 70px); background-color: $white; z-index: 2;
  }
}

// Secciones Home
.modulo-one-home {
  width: 100%; height: auto; @include position(relative, null null null null); padding: 60px 0 60px 0; margin: 0 0 0 0; background-color: $c11; z-index: 2;
}
.modulo-two-home {
  width: 100%; height: auto; @include position(relative, null null null null); padding: 50px 0; margin: 0; background-color: $white; z-index: 2;
}
.modulo-three-home {
  width: 100%; height: auto; @include position(relative, null null null null); padding: 0 0; margin: 0; background-color: $c8; z-index: 2;
}

// Secciones & Modulos
.descHome {
  width: 100%; height: auto; padding: 0 0 0 0; margin: 0 0 0 0; @include displayFlex(flex, row, center, flex-start, wrap); position: relative; @include box-sizing(border-box);
  .titleSite {
    width: 30%; height: auto; margin: 0 0 0 0; padding: 0 10px; @include box-sizing(border-box);
    h5 {
      margin: 20px 0 0 0; padding: 0; color: $col1; text-align: right; text-transform: uppercase; font-size: rem(15px);
    }
  }
  .descBox {
    width: 70%; height: auto; margin: 0 0 0 0; padding: 0 10px; @include box-sizing(border-box); position: relative;
    h1, h2, h3, h4, h5, h6 {
      margin: 0 0 15px 0; font-size: rem(50px); display: block; color: $black; padding: 0; font-family: $light;
    }
    p { text-align: left; margin: 0 0 0 0;color: $c7; font-size: rem(18px); }
    .btnModuloOne {
      width: auto; height: auto; padding: 0; margin: 0; @include position(absolute, null 0 0 null);
      .btnsGenericos {
        height: 40px; color: $c9; border: 1px solid $c9; line-height: 40px;
        i {
          margin-left: 10px;
        }
        &:hover {
          color: $white; background: $c9;
        }
        &:link, &:visited {
          padding: 0 20px 0 30px;
        }
        &.ani-btn {
          &:hover {
            &:after {
              background-color: $c9;
            }
          }
        }
      }
    }
  }
}


@media only screen and (min-width: 360px) {
  .descGen {
    padding: 40px 25px 10px 0; margin: 0 0 20px 0;
    h1, h2, h3, h4, h5, h6 {
      margin: 0 0 15px 0; font-size: rem(25px);
      span {
        font-size: rem(50px);
      }
    }
  }

}

@media only screen and (min-width: 480px) {
  .hero-sec {
    height: 400px;
    .contHero {
      h1, h2, h3, h4, h5, h6 {
        font-size: rem(38px);
      }
    }
  }
  .descGen {
    padding: 30px 25px 10px 10px; margin: 0 0 10px 0;
    h1, h2, h3, h4, h5, h6 {
      margin: 0 0 30px 0; font-size: rem(35px);
      span {
        left: 66%; font-size: rem(50px); top: 30px; left: 50%;
      }
      &:before {
        content: ''; width: 160px; height: 160px; top: -60px; left: -120px;
      }
    }
  }

}

@media only screen and (min-width: 576px) {
  .hero-sec {
    height: 500px;
    .contHero {
      h1, h2, h3, h4, h5, h6 {
        font-size: rem(40px);
      }
      p {
        font-size: rem(14px);
      }
      .btnHero {
        width: 100%; height: auto; margin: 30px 0 0 0; padding: 0;
        .btnsGenericos {
          i {
            margin-left: 10px;
          }
          &:link, &:visited {
            padding: 0 15px 0 20px;
          }
        }
      }
    }
  }
  .descGen {
    padding: 55px 25px 15px 25px; margin: 0 0 20px 0;
    h1, h2, h3, h4, h5, h6 {
      margin: 0 0 80px 0; font-size: rem(40px);
      span {
        left: 66%; font-size: rem(50px); top: 10px;
      }
      &:before {
        width: 200px; height: 200px; @include position(absolute, -80px null null -120px);
      }
    }
  }

}

@media only screen and (min-width: 768px) {
  .hero-sec {
    height: 550px;
    .contHero {
      h1, h2, h3, h4, h5, h6 {
        font-size: rem(45px);
      }
      p {
        font-size: rem(15px);
      }
    }
  }
  .descGen {
    padding: 55px 25px 15px 25px; margin: 0 0 20px 0;
    h1, h2, h3, h4, h5, h6 {
      margin: 0 0 80px 0; font-size: rem(50px);
      span {
        left: 66%; font-size: rem(75px); top: 0;
      }
      &:before {
        width: 260px; height: 260px; @include position(absolute, -105px null null -140px);
      }
    }
  }

}

@media only screen and (min-width: 992px) {
  .hero-sec {
    height: 600px;
    .contHero {
      h1, h2, h3, h4, h5, h6 {
        font-size: rem(48px);
      }
      p {
        font-size: rem(16px);
      }
    }
  }
  .descGen {
    padding: 55px 25px 15px 25px; margin: 0 0 20px 0;
    h1, h2, h3, h4, h5, h6 {
      margin: 0 0 80px 0; font-size: rem(60px);
      span {
        left: 66%; font-size: rem(90px);
      }
      &:before {
        width: 280px; height: 280px; @include position(absolute, -120px null null -140px);
      }
    }
  }

}

@media only screen and (min-width: 1024px) {
  .hero-sec {
    height: 645px;
    .contHero {
      h1, h2, h3, h4, h5, h6 {
        font-size: rem(50px);
      }
    }
  }

}

@media only screen and (min-width: 1200px) {
  .hero-sec {
    height: 700px;
    .contHero {
      h1, h2, h3, h4, h5, h6 {
        font-size: rem(53px);
      }
    }
  }
  .descGen {
    padding: 55px 25px 15px 25px; margin: 0 0 20px 0;
    h1, h2, h3, h4, h5, h6 {
      margin: 0 0 80px 0; font-size: rem(70px);
      span {
        left: 66%; font-size: rem(120px);
      }
      &:before {
        width: 310px; height: 310px; @include position(absolute, -105px null null -140px);
      }
    }
  }

}
@media only screen and (min-width: 1366px) {
  .hero-sec {
    height: 791px;
  }
}

@media only screen and (min-width: 1400px) {

}